<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }} - {{ .Site.Params.description }}</title>
    {{ partial "head.html" . }}
</head>

<body>
    <div class="container-fluid">
        {{ partial "header.html" . }}

        <!-- hero container -->
        <div class="hero-container" style="background-image: url({{.Params.hero}});">
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <h1> {{.Title}} </h1>
                <h4> {{.Description}} </h4>
            </div>
        </div>
        <!-- end hero container -->

        <div class="content-container col-xs-11 col-sm-10 col-md-9 col-lg-8 center-block">
            <article class="content">
                {{.Content}}
            </article>

            {{if .Params.disqus}}
              {{ template "_internal/disqus.html" . }}
            {{end}}
        </div>

        {{ partial "footer.html" . }}

    </div>
</body>

</html>
