<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand hidden-xs" href="{{ .Site.BaseURL }}">Home</a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-template-main navbar-left collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="visible-xs">
                    <a class="nav-link navbar-right" href="{{ .Site.BaseURL }}">Home</a>
                </li>
                {{ range sort .Site.Params.menu "weight"}}
                <li>
                    <a class="nav-link navbar-right" href="{{ .url }}">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
